{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Operations",
    "description" : "A monolith for Demo202509 :: 2026-02-07T05:13:08.694716894Z[UTC]",
    "termsOfService" : "https://arda.cards/terms-of-service",
    "contact" : {
      "name" : "Arda Cards",
      "url" : "https://arda.cards",
      "email" : "systems@arda.cards"
    },
    "license" : {
      "name" : "Arda License",
      "url" : "https://arda.cards/terms-of-service",
      "identifier" : "Arda Proprietary"
    },
    "version" : "v1"
  },
  "externalDocs" : {
    "description" : "Documentation for Arda Cards Integration Developers",
    "url" : "https://arda.cards/developers"
  },
  "servers" : [ {
    "url" : "https://prod.alpha001.io.arda.cards",
    "description" : "Server for Operations with version v1"
  } ],
  "tags" : [ ],
  "paths" : {
    "/v1/order/order" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Add new order",
        "description" : "Add new order",
        "operationId" : "order-add",
        "parameters" : [ {
          "name" : "X-Author",
          "in" : "header",
          "description" : "The Author of the Call, only required if JWT is not being used for authentication",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "object",
            "title" : "*"
          }
        }, {
          "name" : "effectiveasof",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "title" : "Long"
          }
        } ],
        "requestBody" : {
          "description" : "Input Information to create or update order",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/cards.arda.operations.procurement.orders.api.rest.OrderHeaderInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "100" : {
            "description" : "Continue",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "101" : {
            "description" : "Switching Protocols",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "102" : {
            "description" : "Processing",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful Response",
            "headers" : {
              "X-Request-ID" : {
                "description" : "A unique identifier for the request, the server will generate one if not provided",
                "required" : true,
                "deprecated" : false,
                "schema" : {
                  "type" : "string",
                  "title" : "String"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.module.dataauthority.EntityRecord"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "203" : {
            "description" : "Non-Authoritative Information",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "205" : {
            "description" : "Reset Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "206" : {
            "description" : "Partial Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "Multi-Status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "300" : {
            "description" : "Multiple Choices",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "301" : {
            "description" : "Moved Permanently",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "302" : {
            "description" : "Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "303" : {
            "description" : "See Other",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not Modified",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "305" : {
            "description" : "Use Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "306" : {
            "description" : "Switch Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "307" : {
            "description" : "Temporary Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "308" : {
            "description" : "Permanent Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "407" : {
            "description" : "Proxy Authentication Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "411" : {
            "description" : "Length Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Precondition Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Payload Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "414" : {
            "description" : "Request-URI Too Long",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "416" : {
            "description" : "Requested Range Not Satisfiable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Expectation Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "423" : {
            "description" : "Locked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "424" : {
            "description" : "Failed Dependency",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "425" : {
            "description" : "Too Early",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "426" : {
            "description" : "Upgrade Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "431" : {
            "description" : "Request Header Fields Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "505" : {
            "description" : "HTTP Version Not Supported",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "506" : {
            "description" : "Variant Also Negotiates",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "507" : {
            "description" : "Insufficient Storage",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v1/order/order/{entity-id}" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "Get order by id with time coordinates",
        "description" : "Get order by id with time coordinates",
        "operationId" : "order-entity-id-get-by-eid",
        "parameters" : [ {
          "name" : "X-Author",
          "in" : "header",
          "description" : "The Author of the Call, only required if JWT is not being used for authentication",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "A unique identifier for the request, the server will generate one if not provided",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "object",
            "title" : "*"
          }
        }, {
          "name" : "effectiveasof",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "title" : "Long"
          }
        }, {
          "name" : "recordedasof",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "title" : "Long"
          }
        } ],
        "responses" : {
          "100" : {
            "description" : "Continue",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "101" : {
            "description" : "Switching Protocols",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "102" : {
            "description" : "Processing",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful Response",
            "headers" : {
              "X-Request-ID" : {
                "description" : "A unique identifier for the request, the server will generate one if not provided",
                "required" : true,
                "deprecated" : false,
                "schema" : {
                  "type" : "string",
                  "title" : "String"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.module.dataauthority.EntityRecord"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "203" : {
            "description" : "Non-Authoritative Information",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "205" : {
            "description" : "Reset Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "206" : {
            "description" : "Partial Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "Multi-Status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "300" : {
            "description" : "Multiple Choices",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "301" : {
            "description" : "Moved Permanently",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "302" : {
            "description" : "Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "303" : {
            "description" : "See Other",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not Modified",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "305" : {
            "description" : "Use Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "306" : {
            "description" : "Switch Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "307" : {
            "description" : "Temporary Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "308" : {
            "description" : "Permanent Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "407" : {
            "description" : "Proxy Authentication Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "411" : {
            "description" : "Length Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Precondition Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Payload Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "414" : {
            "description" : "Request-URI Too Long",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "416" : {
            "description" : "Requested Range Not Satisfiable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Expectation Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "423" : {
            "description" : "Locked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "424" : {
            "description" : "Failed Dependency",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "425" : {
            "description" : "Too Early",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "426" : {
            "description" : "Upgrade Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "431" : {
            "description" : "Request Header Fields Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "505" : {
            "description" : "HTTP Version Not Supported",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "506" : {
            "description" : "Variant Also Negotiates",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "507" : {
            "description" : "Insufficient Storage",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "Update a order",
        "description" : "Update a order",
        "operationId" : "order-entity-id-update",
        "parameters" : [ {
          "name" : "X-Author",
          "in" : "header",
          "description" : "The Author of the Call, only required if JWT is not being used for authentication",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "A unique identifier for the request, the server will generate one if not provided",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "object",
            "title" : "*"
          }
        }, {
          "name" : "effectiveasof",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "title" : "Long"
          }
        } ],
        "requestBody" : {
          "description" : "Input Information to create or update order",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/cards.arda.operations.procurement.orders.api.rest.OrderHeaderInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "100" : {
            "description" : "Continue",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "101" : {
            "description" : "Switching Protocols",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "102" : {
            "description" : "Processing",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful Response",
            "headers" : {
              "X-Request-ID" : {
                "description" : "A unique identifier for the request, the server will generate one if not provided",
                "required" : true,
                "deprecated" : false,
                "schema" : {
                  "type" : "string",
                  "title" : "String"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.module.dataauthority.EntityRecord"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "203" : {
            "description" : "Non-Authoritative Information",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "205" : {
            "description" : "Reset Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "206" : {
            "description" : "Partial Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "Multi-Status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "300" : {
            "description" : "Multiple Choices",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "301" : {
            "description" : "Moved Permanently",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "302" : {
            "description" : "Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "303" : {
            "description" : "See Other",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not Modified",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "305" : {
            "description" : "Use Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "306" : {
            "description" : "Switch Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "307" : {
            "description" : "Temporary Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "308" : {
            "description" : "Permanent Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "407" : {
            "description" : "Proxy Authentication Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "411" : {
            "description" : "Length Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Precondition Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Payload Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "414" : {
            "description" : "Request-URI Too Long",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "416" : {
            "description" : "Requested Range Not Satisfiable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Expectation Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "423" : {
            "description" : "Locked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "424" : {
            "description" : "Failed Dependency",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "425" : {
            "description" : "Too Early",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "426" : {
            "description" : "Upgrade Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "431" : {
            "description" : "Request Header Fields Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "505" : {
            "description" : "HTTP Version Not Supported",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "506" : {
            "description" : "Variant Also Negotiates",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "507" : {
            "description" : "Insufficient Storage",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "v1" ],
        "summary" : "Delete order by id with time coordinates",
        "description" : "Delete order by id with time coordinates",
        "operationId" : "order-entity-id-remove",
        "parameters" : [ {
          "name" : "X-Author",
          "in" : "header",
          "description" : "The Author of the Call, only required if JWT is not being used for authentication",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "A unique identifier for the request, the server will generate one if not provided",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "object",
            "title" : "*"
          }
        }, {
          "name" : "effectiveasof",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "title" : "Long"
          }
        } ],
        "responses" : {
          "100" : {
            "description" : "Continue",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "101" : {
            "description" : "Switching Protocols",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "102" : {
            "description" : "Processing",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful Response",
            "headers" : {
              "X-Request-ID" : {
                "description" : "A unique identifier for the request, the server will generate one if not provided",
                "required" : true,
                "deprecated" : false,
                "schema" : {
                  "type" : "string",
                  "title" : "String"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.module.dataauthority.EntityRecord"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "203" : {
            "description" : "Non-Authoritative Information",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "205" : {
            "description" : "Reset Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "206" : {
            "description" : "Partial Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "Multi-Status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "300" : {
            "description" : "Multiple Choices",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "301" : {
            "description" : "Moved Permanently",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "302" : {
            "description" : "Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "303" : {
            "description" : "See Other",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not Modified",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "305" : {
            "description" : "Use Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "306" : {
            "description" : "Switch Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "307" : {
            "description" : "Temporary Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "308" : {
            "description" : "Permanent Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "407" : {
            "description" : "Proxy Authentication Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "411" : {
            "description" : "Length Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Precondition Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Payload Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "414" : {
            "description" : "Request-URI Too Long",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "416" : {
            "description" : "Requested Range Not Satisfiable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Expectation Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "423" : {
            "description" : "Locked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "424" : {
            "description" : "Failed Dependency",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "425" : {
            "description" : "Too Early",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "426" : {
            "description" : "Upgrade Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "431" : {
            "description" : "Request Header Fields Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "505" : {
            "description" : "HTTP Version Not Supported",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "506" : {
            "description" : "Variant Also Negotiates",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "507" : {
            "description" : "Insufficient Storage",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v1/order/order/rid/{entity-record-id}" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "Get Order Header by Record Id",
        "description" : "Get Order Header by Record Id.",
        "operationId" : "order-rid-entity-record-id-get-by-rid",
        "parameters" : [ {
          "name" : "X-Author",
          "in" : "header",
          "description" : "The Author of the Call, only required if JWT is not being used for authentication",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "A unique identifier for the request, the server will generate one if not provided",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "object",
            "title" : "*"
          }
        } ],
        "responses" : {
          "100" : {
            "description" : "Continue",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "101" : {
            "description" : "Switching Protocols",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "102" : {
            "description" : "Processing",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful Response",
            "headers" : {
              "X-Request-ID" : {
                "description" : "A unique identifier for the request, the server will generate one if not provided",
                "required" : true,
                "deprecated" : false,
                "schema" : {
                  "type" : "string",
                  "title" : "String"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.module.dataauthority.EntityRecord"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "203" : {
            "description" : "Non-Authoritative Information",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "205" : {
            "description" : "Reset Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "206" : {
            "description" : "Partial Content",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "207" : {
            "description" : "Multi-Status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "300" : {
            "description" : "Multiple Choices",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "301" : {
            "description" : "Moved Permanently",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "302" : {
            "description" : "Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "303" : {
            "description" : "See Other",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not Modified",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "305" : {
            "description" : "Use Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "306" : {
            "description" : "Switch Proxy",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "307" : {
            "description" : "Temporary Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "308" : {
            "description" : "Permanent Redirect",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "407" : {
            "description" : "Proxy Authentication Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "411" : {
            "description" : "Length Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Precondition Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Payload Too Large",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "414" : {
            "description" : "Request-URI Too Long",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "416" : {
            "description" : "Requested Range Not Satisfiable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Expectation Failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "423" : {
            "description" : "Locked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "424" : {
            "description" : "Failed Dependency",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "425" : {
            "description" : "Too Early",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "426" : {
            "description" : "Upgrade Required",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cards.arda.common.lib.api.rest.types.ErrorResponse"
                }
              }
            }
          },
          "431" : {
[...]
